extends layout

block content
	.card
		.card-header.text-center
			h1 About Us
		.card-body
			p We connect people who are experts and can teach, to students who are willing to learn but struggling in the same field.
			p Our instructors are innovative and use various methodologies that can help students from ground-up to make them comfortable in the subject. Our motive is to make students better understand the subjects in detail.
			p We provide one-to-one learning that suits the students at affordable price. We are continuously progressing towards making education accessible and convenient for all students.
			p We at thetutorservices.com, keep on working to facilitate and connect the experts and students, so that the gaps in education can fill in seamlessly.
