extends layout

block content
	h1.text-center Help
    p.lead We connect people who are experts and can teach, to students who are willing to learn but struggling in the same field.
    hr
    br
    br
    .row
        .col-md-6
            .card
                .card-header
                    h4 Pick your gradelevel and subject
                .card-body
                    p We provide one-to-one learning that suits the students at affordable price. We are continuously progressing towards making education accessible and convenient for all students.            

        .col-md-6
            .card                
                .card-body
                    p.text-center
                        i.fas.fa-money-check-alt.fa-10x
    br
    br     
    .row
        .col-md-6
            .card
                .card-body
                    p.text-center                    
                        i.fas.fa-users-cog.fa-10x 
        .col-md-6
            .card
                .card-header
                    h4 Technique
                .card-body
                    p Our instructors are innovative and use various methodologies that can help students from ground-up to make them comfortable in the subject. Our motive is to make students better understand the subjects in detail.
    br 
    br    
    .row
        .col-md-6
            .card
                .card-header 
                    h4 Virtual and In-Home Learning            
                .card-body
                    p We at 
                        a(href="/") thetutorservices.com
                        | , keep on working to facilitate and connect the experts and students.
                        | We provide virtual and in-home learning. We have a vast range of programs that a student can enroll. And, we work with 
                        | every student individually to pick the program, so that the can focus more on education, and avoid frustration and confusion. 
        .col-md-6
            .card
                .card-body
                    p.text-center                    
                        i.fas.fa-cloud.fa-10x 
    br
    br
    .row
        .col-md-6
            .card
                .card-body
                    p.text-center                    
                        i.fas.fa-chalkboard-teacher.fa-10x
        .col-md-6
            .card
                .card-header 
                    h4 One-To-One Learning
                .card-body
                    p Every student's needs are different, and we at 
                        a(href="/") thetutorservices.com 
                        | tries to fulfill the gaps in student's learning. We first put efforts in understanding the gaps, and then provide proper guidance and 
                        | learning plan to our students.
    br
    br
    br