extends layout

block content
	.card
		.card-header.text-center
			h1 The Tutor Services, llc. - Privacy Policy
		.card-body
			p 
				b Providing your personal information is voluntary and your use of the Service after the effective date of this document constitutes your acceptance of this Privacy Policy. If you do not agree to all the terms and conditions of this Privacy Policy, do not use the Service.
			p 
				b This Privacy Policy is designed to help you understand how The Tutor Services, llc. and our affiliates (&ldquo;The Tutor Services&rdquo;, &ldquo;we&rdquo; or &ldquo;our&rdquo;) collect, process, store, and share personal information about our Users. It also explains what controls you have on how we collect and processes your information. The term &ldquo;you&rdquo; or &ldquo;User&rdquo; refers to students, tutors or any person or entity who views, uses, accesses, browses or submits any content or material to the Service (defined below).
			.row
				.col-md-2
					b Table of Content
					ul 
						li 
							a(href="#pp1") Information We Share and Disclose
							ol(style="list-style-type:lower-alpha")
								li
									a(href="#pp1a") Information Shared Between Users
								li
									a(href="#pp1b") User Content
								li
									a(href="#pp1c") Cookies and Similar Technologies
								li
									a(href="#pp1d") Referrals
								li
									a(href="#pp1e") Law and Public Interest
								li
									a(href="#pp1f") Affiliates and Change of Ownership
								li
									a(href="#pp1g") Service Providers
						li
							a(href="#pp2") Data Transmission and Storage
						li
							a(href="#pp3") How We Use Your Information
						li
							a(href="#pp4") Information We Collect
							ol(style="list-style-type:lower-alpha")
								li
									a(href="#pp4a") Tutors
								li
									a(href="#pp4b") Students and parents
								li
									a(href="#pp4c") Financial information
								li
									a(href="#pp4d") Information we collect automatically
								li
									a(href="#pp4e") Information we collect from other sources
						li
							a(href="#pp5") Managing Your Personal Information with Us
							ol(style="list-style-type:lower-alpha")
							li
								a(href="#pp5a") Email
							li
								a(href="#pp5b") Cookie Tracking
							li
								a(href="#pp5c") Location Information
							li
								a(href="#pp5d") Modifying or correcting your information
						li
							a(href="#pp6") Children and Our Services
						li
							a(href="#pp7") Privacy Policy Changes
						li
							a(href="#pp8") Scope of this Policy
				.col-md-10
					a(name="pp1")
						h4 Information We Share and Disclose
						p We do not sell your personal information. To make the Site work, we may need to share some of your personal information with other Users, and our affiliates. This section explains when and why we share your information.
					
					a(name="pp1a")
						h5 Information Shared Between Users
						p We share a minimum amount of personal information between tutors and students in order to facilitate the arrangement of tutoring sessions, including, your first name and last initial, city, photo, and details about the tutoring services you seek or provide. Messages to students also, contain tutors&rsquo; information, which include the tutor&rsquo;s first and last name. In the case of teacher feedback of a student, we will transmit it as you ask us to.
				
					a(name="pp1b")
						h5 User Content
						p Your member profile and information that you post or share, such as tutor bio, educational background, city and state, rate, photos, reviews, comments, suggestions, and information about you or your experience, may be seen and shared with other Users of our Service. You should therefore think carefully before deciding what information you share.
					
					a(name="pp1c")
						h5 Cookies and Similar Technologies
						p Third parties, including Facebook, may use cookies, web beacons, and other storage technologies to collect or receive information from our Site, apps and elsewhere on the internet and use that information to provide measurement services and target ads. Most web browsers let you choose whether to accept cookies and let you delete cookies already set. The choices available, and the mechanism used, will vary from browser to browser, but are typically found in the &ldquo;options&rdquo;, &ldquo;tools&rdquo; or &ldquo;preferences&rdquo; menu. There also are online tools available for clearing all cookies left behind by the websites you have visited.

					a(name="pp1d")
						h5 Referrals
						p If you choose to use our referral service, to tell a friend about our Service, we will ask you for your friend&rsquo;s email address. We will automatically send your friend an email inviting him or her to visit the Site and up to three reminders. The Tutor Services stores this information for the sole purpose of sending this one-time email and reminders and tracking the success of our referral program. Your friend may click Unsubscribe at the bottom of any email, or contact us at 
							a(href="mailto:support@thetutorservices.com") support@thetutorservices.com 
							| to request removal from our database.

					a(name="pp1e")
						h5 Law and Public Interest
						p Notwithstanding anything to the contrary in this Privacy Policy or controls we may otherwise offer to you, we may preserve, use, or disclose your personal data or other safety data if we believe that it is reasonably necessary to comply with a law, regulation, legal process, or governmental request; to protect the safety of any person; to protect the safety or integrity of our platform, including to help prevent spam, abuse, or malicious actors on our services, or to explain why we removed certain accounts from our Services; to address fraud, security, or technical issues; or to protect our rights or property or the rights or property of those who use our Services. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party&rsquo;s, including a government&rsquo;s, request to disclose your personal data.
					
					a(name="pp1f")
						h5 Affiliates and Change of Ownership
						p In the event that we are involved in a bankruptcy, merger, acquisition, reorganization, or sale of assets, your personal data may be sold or transferred as part of that transaction. This Privacy Policy will apply to your personal data as transferred to the new entity.

					a(name="pp1g")
						h5 Service Providers
						p We engage service providers to perform functions and provide services to us in the United States. For example, we use a variety of third-party services to help operate our services to help us understand the use of our services. We may share your private personal data with such service providers for business purposes such as to verify transactions and prevent fraud or identity theft, subject to obligations consistent with this Privacy Policy and any other appropriate confidentiality and security measures, and on the condition that the third parties use your private personal data only on our behalf and pursuant to our instructions (service providers may use other non-personal data for their own benefit). We share your payment information with payment services providers to process payments; prevent, detect, and investigate fraud or other prohibited activities; facilitate dispute resolution such as charge backs or refunds; and for other purposes associated with the acceptance of credit and debit cards.
					
					a(name="pp2")
						h4 Data Transmission and Storage
						p The Tutor Services, llc uses industry-standard 128-bit SSL encryption when collecting and transmitting your information through the Site. Once information has been collected, we encrypt sensitive data in our database for added security. Unfortunately, even with these measures, we cannot guarantee the security of personal information. By using the Service, you acknowledge and agree that we make no such guarantee, and that you use the Service at your own risk.
					
					a(name="pp3")
						h4 How We Use Your Information
						p The Tutor Services may use your personal information for various purposes, including:
							ul 
								li to communicate with you concerning the Service, User requests, transactions, security, privacy and administrative issues relating to your use of the Service, and services that we think may be of interest to you;
								li account creation and to provide the Service, including without limitation, access to previous lessons, tutor-matching services, information about prospective tutors, and facilitating communication directly between students and tutors;
								li to process transactions and billing;
								li for identification and authentication purposes; and
								li for administration of and troubleshooting regarding the System.
					
					a(name="pp4")
						h4 Information We Collect
						p You don&rsquo;t have to create an account to use some of our service features, such as searching and viewing public tutor profiles or searching and viewing questions. If you do not create an account, we do collect information about your browser and device (IP address, browser version, etc.) but we cannot link that information to an identifiable person unless and until you create an account.
						p If you do choose to create an account, you must provide us with some personal information so that we can provide the Service. This includes information you provide to us, such as:
							ul 
								li registration information when you create a user account;
								li profile information, such as city and state, educational level or background, and tutoring subjects;
								li questions, comments, or other information when you communicate with us, by phone, email, or participate in interactive features of the Service (including Customer Support messages and online tool chat messages);

					a(name="pp4a")
						h5 Tutors
						p We may also collect your Social Security number (SSN) or Federal Employer Identification Number (FEIN) date of birth and address, for tax purposes or to complete a background check; we also collect content you upload for purposes related to transmission to other users or public display on the Site or Apps. We also collect bank account information to facilitate payment.

					a(name="pp4b")
						h5 Students and parents
						p We may also collect personal information related to your documentation of and payment for tutoring sessions; tutoring questions related to homework or your studies; school information; teacher feedback of a student (once the parent provides consent for submission); and content you upload for the purposes of transmitting it to another user or for public display on the Site or Apps.
					
					a(name="pp4c")
						h5 Financial information
						p If you elect to pay for tutoring lessons with a credit card, we will collect your name, credit card number, expiration date, and address information associated with the account. All financial information, other than credit card numbers, is stored and encrypted in our System in full compliance with the Payment Card Industry Data Security Standard. We do not store credit card numbers. We collect bank information from tutors who list their services on the platform for the purposes of transmitting payment to them.
						p If you are a tutor and elect to pay for a background check, we will collect credit card information to order a background check on your behalf. Payment information entered into our System solely to procure a background check will not be stored on our servers.
					
					a(name="pp4d")
						h5 Information we collect automatically
						p We also gather additional personal information when you use the Service, including type of browser you use, access time, pages viewed, IP address, and, if enabled, geolocation; and we collect information about the computer or mobile device you use to access the Service, including without limitation operating system and unique device identifiers and mobile network information. This data is used to better understand and enhance Users experience with the Service and on the Site and Apps.
					
					a(name="pp4e")
						h5 Information we collect from other sources
						p We may also obtain personal information from our background check administrator and combine that with information we collect through the Service. For example, we may view information about you for the purposes of identity verification, credit bureaus, and other background check information, including from publicly available sources, but this information is not stored on our systems. If you log into your account through single sign-on services, like Facebook Connect or Google Authenticator, you provide us with permission to access certain information about you, such as your Facebook User ID, user profile, and profile picture. User generated content on the Site or App that is cross-posted through certain social networking preferences (e.g. pages you &ldquo;Like&rdquo; or &ldquo;Follow&rdquo;) may be viewed by the general public. Accordingly, we cannot ensure the privacy of any personal information included in such User generated content.
					
					a(name="pp5")
						h4 Managing Your Personal Information with Us
					
					a(name="pp5a")
						h5 Email
						p We may send you email communications periodically detailing new Service features or promotions. You may unsubscribe from these messages by using the link at the bottom of the email. We will still send you email messages about the status of your account or any notices as required by law. You may not opt-out of receiving these administrative emails so long as you continue to use the Service. If you wish to terminate your account, please contact us.
					
					a(name="pp5b")
						h5 Cookie Tracking
						p You can modify your cookie settings on your browser settings. If you delete or choose not to accept our cookies, you may be missing out on certain features of the Service.

					a(name="pp5c")
						h5 Location Information
						p You can prevent your device from sharing location information through your device&rsquo;s system settings. But if you do, this may impact our&rsquo;s ability to provide you our full range of features and services.

					a(name="pp5d")
						h5 Modifying or correcting your information
						p If you have an account with us, you can access, correct, delete, or modify some of the personal information you provided to us in your account settings.

					a(name="pp6")
						h4 Children and Our Services
						p This Service is not intended for use by children under 13 years of age. We do not knowingly collect personally identifiable information from children under the age of 13. If you are under the age of 13, please do not provide your contact information or any other personally identifiable information to us.
							strong If you are the parent or legal guardian of someone under the age of 13 who may have provided us with information without your knowledge or consent, please contact us to have this information removed. All contact, including tutoring sessions, between a tutor and any minor should, of course, take place only in a supervised setting.
					
					a(name="pp7")
						h5 Privacy Policy Changes
						p The Tutor Services, llc. reserves the right to change or update this Privacy Policy from time to time. We will post any changes here and indicate the new effective date of the Privacy Policy at the top of the document. We encourage you to review the Privacy Policy for any updates while you are an active User of the Site.
						p The Site is hosted in the United States and is governed by United States law. If you are using the Site from outside the United States, please be aware that your information may be transferred to, stored and processed in the United States where our servers are located, and our databases are operated. The data protection and other laws of the United States and other countries might not be as comprehensive as those in your country. By using the Site, you consent to your information being transferred to our facilities and to the facilities of those third parties with whom we share it as described in our Privacy Policy.
					
					a(name="pp8")
						h5 Scope of this Policy
						p This Privacy Policy applies only to personal information we collect via the website 
							a(href="/") www.thetutorservices.com 
							| (&ldquo;Site&rdquo;), online and mobile applications (&ldquo;Apps&rdquo;), email, telephone, electronic devices and other interactive services (collectively &ldquo;the Service&rdquo;).

		p.text-center 
			strong Effective on #{DateEffective}

	