extends ../layout

block content
    .card
        .card-header.text-center
            h1 Thank You
        .card-body
            h3 We will contact you soon (usually, within #[b 24] hrs) for scheduling your appointment for selected classes.
